@import "theme-variables";

.maintain-product-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.mat-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;

  mat-card {

    img {
      width: 100%;
    }
  }
}

.bottom-actions-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px solid mat-color($accent);
}

.top-actions-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid mat-color($accent);
}
