@import "~@angular/material/theming";

$light-primary: mat-palette($mat-amber);
$light-accent: mat-palette($mat-grey);
$light-warn: mat-palette($mat-red);

$dark-primary: mat-palette($mat-amber);
$dark-accent: mat-palette($mat-grey);
$dark-warn: mat-palette($mat-red);

$primary: mat-palette($light-primary);
$accent: mat-palette($light-accent);
$warn: mat-palette($light-warn);
