@import "./theme.scss";

html, body {
  height: 100%;
  background-image: linear-gradient(transparent, mat-color($accent, 300)), url(../assets/images/background.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

article {
  margin: 1rem;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
